name: Deploy Cloud Functions

on:
  push:
    branches:
      - main
    # Filter 'paths' sme vynechali, aby sa deploy spustil pri kazdej zmene

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install
        working-directory: functions

      - name: Create .env file for Gemini Key
        run: echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" > functions/.env

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions --force
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PRAXIHUB }}
          PROJECT_ID: praxihub-app
